#word-by-word-typewriter {
  font-weight: bold;
  min-height: 100px;
  font-size: 22px;
  background: linear-gradient(#D91A1A, #333);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}