node_modules/
lerna-debug.log
npm-debug.log

packages/*/node_modules/
packages/*/dist/
packages/*/coverage/

# Generated website
packages/website/_site/
packages/website/src/_data/api/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

.DS_Store

.angular
