
.carousel-button-animation {
  background: linear-gradient(to right, rgb(107 33 168) 50%, rgb(102, 102, 102) 50%);
  background-size: 200% 100%;
} 

@keyframes progress {
  from {
    background-position: right bottom;
  }
  to {
    background-position: left bottom;
  }
}

#home-typewriter {
  font-family: monospace;
  font-size: 32px;
  display: inline-block;
}

#home-typewriter-cursor {
  border-right-width: 4px; 
  border-right-style: solid;
  border-color: rgb(126 34 206 / var(--tw-border-opacity));
}

#home-typewriter-cursor.blinking { 
  animation: blink 0.75s step-start infinite;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(126 34 206 / var(--tw-border-opacity));
  }
}
