
// Note: --cursor-color, and --background-color is set from JavaScript

.typewriter {
  position: relative;
  font-size: 32px;
  display: inline-block;
  width: 100%;

  .info {
    font-family: sans-serif;
    font-weight: bold;
    display: none;
    position: absolute;
    top: -16px;
    margin-left: -21px;
    padding: 4px;
    font-size: 12px;
    background-color: var(--cursor-color);
    color: white;
  }

  .cursor:hover + .info {
    display: inline;
  }
  .cursor::after:hover + .info {
    display: inline;
  }

  .letter {
    background-color: var(--background-color);
    border-left: 2px solid var(--cursor-color);
    padding: 0;
  }

  .blink {
    animation: blink 1s step-start infinite;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--cursor-color);
  }
}
