.carousel-example {
  margin-bottom: 16px;
  position: relative;
  height: 200px;
}

.carousel-example .slide {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-size: 64px;
  transition: opacity 0.4s linear;
}

.carousel-example .slide:nth-child(even) {
  color: white;
  background-color: rgb(192 132 252);
}

.carousel-example .slide:nth-child(odd){
  color: black;
  background-color: lightgray;
}

.carousel-example .slide.fade-in {
  opacity: 1;
}

.carousel-example .slide.fade-out {
  opacity: 0;
}
