/* Note: --cursor-color, and --background-color are set from JavaScript */

#multicursor-typewriter {
  position: relative;
  font-size: 32px;
  display: inline-block;
  width: 100%;
  min-height: 150px;
  margin-bottom: 8px;
}

#multicursor-typewriter .info {
  position: absolute;
  display: inline;
  margin-top: -20px;
  margin-left: -1px;
  padding: 4px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  background-color: var(--cursor-color);
  color: white;
}

#multicursor-typewriter .letter {
  background-color: var(--background-color);
  padding: 0;
}

#multicursor-typewriter .cursor {
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 32px;
  margin-left: -1px;
  margin-top: 6px;
  background-color: var(--cursor-color);
}

#multicursor-typewriter .blink {
  animation: multicursor-blink 1s step-start infinite;
}

@keyframes multicursor-blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: var(--cursor-color);
  }
}
